# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CV_PAPER_PROJECT\PSNR_SSIM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
